body {
	background-color:#E6E6E6;
}
#divWrapper {
	width:79%;
	height:1000px;
	margin:auto;
	background-color:white;
	padding:1%;
}
#divImageHead {
	height:10%;
	width:50%;
	position:relative;
	float:left;
}
#divImageHead img {
	margin-top:-3%;
}
#divMenu {
	height:10%;
	width:50%;
	position:relative;
	float:left;
	font-size:large;
}
#menuPosition {
	position:absolute;
	bottom:0;
	right:0;
}
#divBody {
	text-align:center;
}
#divBody a {
	text-align:center;
}
#divBody table {
	position:relative;
	text-align:center;
	margin:auto;
}
ul{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color: transparent;
}

li{
	float: left;
}

li a, .dropbtn{
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

